# Pycharm stuff
.idea/

*/calculating_slopes/
*/MaDCoWS_test/
*/SPT/
example/plots/*.pdf
example/rs_catalogs/*.cat
example/irac_plots
example/rz_plots
example/rsz_rz.param
example/rsz_irac.param
example/irac_results.txt
example/rz_results.txt
example/results.txt
*.pyc
*/correction/

rsz_irac/cycle_11